// Variables for colors and spacing
$primary-color: #1a73e8;
$primary-color-hover: #155ab2;
$primary-color-active: #0f4285;
$input-border-color: #ddd;
$focus-background-color: gainsboro;
$box-shadow-color: rgba(0, 0, 0, 0.1);

.login-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px $box-shadow-color;
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px auto;

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
  }

  input {
    width: 50%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    font-size: 1rem;

    &:focus {
      outline: none;
      background-color: $focus-background-color;
      box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.3);
    }
  }

  button {
    display: block;
    margin: 1rem auto;
    width: 30%;
    padding: 0.8rem;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $primary-color-hover;
    }

    &:active {
      background-color: $primary-color-active;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(26, 115, 232, 0.3);
    }
  }
}

// Media queries for responsiveness for tablet nd medium screens
@media (max-width: 768px) {
  .login-container {
    width: 70%; // Make login container wider on smaller screens
    padding: 1.5rem;
  }

  .login-container input {
    width: 80%; // Inputs take up more space on smaller screens
  }

  .login-container button {
    width: 50%; // Button width adjusted for smaller screens
  }
}
//for mobile device
@media (max-width: 480px) {
  .login-container {
    width: 90%; // Make the container even wider on very small screens
    padding: 1rem;
  }

  .login-container h2 {
    font-size: 1.25rem; // Slightly smaller title for small screens
  }

  .login-container input {
    width: 90%; // Inputs take up full width on mobile screens
  }

  .login-container button {
    width: 70%; // Button width adjusted for smaller screens
  }
}
