/* layout.css */

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
}



/* Home container styling */
.home {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Sidebar Styling */
.side-bar {
    transition: width 0.3s ease-in-out;
    background-color:rgb(112, 48, 112);
    color: #fff;
    width: 25%;
    display: flex;
    align-items: start;
    overflow-y: auto;
    color: white;
    overflow-x: hidden;
    gap: 10px;
    border-top: 2px solid rgb(222, 235, 179);
  
}

.side-bar.closed {
    width: 300px;
  }

/* Main Content Styling */
main {
    flex: 1;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .layout {
        height: auto;
    }

    .side-bar {
        width: 100%;
        display: none;
    }

    .home {
        flex-direction: column;
    }

    .side-bar.active {
        display: block;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .side-bar a {
        padding: 0.6rem;
    }

    main {
        padding: 1rem;
    }
}
