/* layout.css */

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    background-color: #35e209;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Home container styling */
.home {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Sidebar Styling */
.side-bar {
    transition: width 0.3s ease-in-out;
    background-color: #34495e;
    color: #fff;
    width: 25%;
    display: flex;
    align-items: start;
    overflow-y: auto;
    color: white;
    overflow-x: hidden;
    gap: 10px;
}

.side-bar.closed {
    width: 70px;
  }

/* Main Content Styling */
main {
    flex: 1;
    background-color: #ecf0f1;
    padding: 2rem;
    overflow-y: auto;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .layout {
        height: auto;
    }

    .side-bar {
        width: 100%;
        display: none;
    }

    .home {
        flex-direction: column;
    }

    .side-bar.active {
        display: block;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .side-bar a {
        padding: 0.6rem;
    }

    main {
        padding: 1rem;
    }
}
