/* src/components/Sidebar/Sidebar.css */

.sidebar {
    border-right:2px solid rgb(222, 235, 179);;
    width: 30%;
    background-color: rgba(214, 111, 150, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
  }
  
 .sidebar .icon{
align-items: center;
text-align: center;
 }
  
  .sidebar-item {
    display: flex;
    padding: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .sidebar-item .nav-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #f0f2f5;
    text-decoration: none;
    font-weight: bold;
  }
  
  .sidebar-item:hover {
    background-color: #5611d6;
  }
  
  .sidebar-icon {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  
  .sidebar-label {
    font-size: 1rem;
    color: #f0f2f5;
  }
  