.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 0.5rem;
    background-color: #ffffff;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  
  .chat-input input {
    flex: 1;
    padding: 2rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 0.5rem;

  }
  .chat-input input:focus {
    outline: none;
    background-color: #f1f3f5;
    box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.3);

  }
  
  .chat-input button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chat-input button:hover {
    background-color: #0056b3;
  }
  